// Navigation code here

.main-header {
.main-style();  // mix-in applied 

h1 {
font-size: 50px;
margin: .2em;
@media @phone {
font-size:40px;

}
}

}
.navigation {

.navigation-style();  // mix-in applied 

a {
    font-size: 25px;
    padding: 20px;
    text-transform: capitalize;
    text-decoration: none;
color: @header-font-color;   // variable applied 
@media (max-width:500px){
font-size:1.5rem;

}
}

}
.big {

    @media @phone{
    max-width: 100%;

    }

}

.color {
@media @phone{
background-color: rgb(204, 200, 200);


}



}